@font-face {
    font-family: Pathway Gothic One;
    src: url(../fonts/PathwayGothicOne-Regular.ttf);

}


body {
    background-image: url(../img/page-bg.jpg);
    background-repeat: no-repeat;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
}

header {
    padding-top: 20px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}


.menu li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 10px;

    color: white;

}

.menu a {
    text-decoration: none;
    color: white;
}

.openlist {
    position: relative;
}

.openlist:hover:before {
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    left: 27px;
    bottom: 3px;
}

.openlist:hover .submenu {
    display: block;
    text-align: center;
}

a:hover {
    color: black;
}

.submenu {
    position: absolute;
    top: 50px;
    left: 5px;
    padding-left: 0px;
    display: none;
    flex-direction: column;
    font-size: 10px;
    text-align: center;
    border: 4px solid white;
    background-color: white;
    border-radius: 5px;
}

.submenu a {
    text-decoration: none;
    color: dimgray;
    font-size: 14px;
}

.submenu li {
    display: block;
    color: black;
}

.submenu:hover {
    display: block;
}

.circle {
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    line-height: 120px;
}

span {
    font-size: 26px;
    color: black;
}

.wrapper {
    background-color: white;
    width: 900px;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
}

.first {
    position: relative;
}

.blockone {
    background-color: white;
    position: absolute;
    top: 240px;
    font-size: 18px;
    padding: 5px 10px;

}

.blocktwo {
    background-color: #0099ff;
    position: absolute;
    top: 290px;
    font-size: 18px;
    padding: 5px 10px;
    color: white;

}

.left,
.right {
    width: 50px;
    height: 100px;
    border: 2px solid #0099ff;
    background-color: #0099ff;
}

.left {
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    position: absolute;
    top: 450px;
    left: 94px;
}

.right {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    position: absolute;
    top: 450px;
    left: 40px;
}

.left:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
}

.left::before {
    content: "→";
    position: absolute;
    top: 35px;
    left: 2px;
}


.right:hover {
    opacity: 0.5;
    transition: opacity 0.5s ease-out;
}

.right::before {
    content: "←";
    position: absolute;
    top: 35px;
    left: 20px;
}

.to-top {
    content: "^";
    color: white;
    border: 5px solid #0099ff;
    border-radius: 50%;
    font-size: 11px;
    background-color: #0099ff;
    padding-top: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 180px;
    bottom: 50px;
    text-decoration: none;
}

.venice {
    background-image: url('../img/Layer%2015.png');
}

.ny {
    background-image: url('../img/Layer%2016.png');
}

.paris {
    background-image: url('../img/Layer%2017.png');
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    font-size: 13px;
}

.country-block {
    width: 290px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inside {
    width: 160px;
    height: 230px;
    background-color: #0d2337;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.inside button {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.country-block:hover .inside {
    display: block;
}

.inside h6 {
    font-size: 16px;
    margin: 10px;
    color: wheat;
}

.info {
    color: wheat;
    font-size: 14x;
    line-height: 17px;
    padding-left: 8px;
    text-align: left;
}
















.article {
    min-width: 320px;
    max-width: 600px;
    height: 400px;
    padding: 50px 0 0 0;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

.article input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

.article input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid red;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}

@media screen and (max-width: 450px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 200px) {
    label {
        padding: 15px;
    }
}
.bl{
    display: flex;
    justify-content: space-around;
    width: 900px;
}
section {
    font-size: 14px;
}

section img {
    float: left;
    padding: 0 20px 20px 0;
}

section p {
    padding-bottom: 50px;
    position: relative;
}

section a {
    position: absolute;
    right: 0px;
}


aside {
    justify-content: center;
    width: 300px;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
         
   }
.news{
    margin-top: 70px;
}
.news h2 {
    margin-bottom: -1px;
    text-align: center;
    border: 1px solid red;
}

aside p {
    text-align: center;
}
aside li{
 list-style-image: url(../img/2.png);
    font-size: 18px;
    margin: 10px;
}


form {
    width: 200px;
    height: 20px;
    margin-left: 65px;
}

.ramka{

    border: 1px solid red;
}