body {
    background-image: url(../img/page-bg.png);
    background-repeat: no-repeat;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding-left: 36px;
    padding-top: 59px;
    padding-right: 37px;
}

h2 {
    padding-bottom: 45px;
}

.first {
    width: 650px;
    display: inline-block;

}


.first img {
    float: left;
    width: 400px;
    height: 340px;
    padding-right: 20px;

}

.second {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}

.second ol {
    list-style: none;
    top: -40px;
    position: relative;
}

.second li {
    margin-bottom: -20px;
}

.second li:nth-child(1):before {
    position: relative;
    left: -35px;
    top: 40px;
    content: "1";
    border: 10px solid blue;
    border-radius: 50%;
    background-color: blue;
    color: white;
}

.second li:nth-child(2):before {
    position: relative;
    left: -35px;
    top: 40px;
    content: "2";
    border: 10px solid blue;
    border-radius: 50%;
    background-color: blue;
    color: white;
}


.second li:nth-child(3):before {
    position: relative;
    left: -35px;
    top: 40px;
    content: "3";
    border: 10px solid blue;
    border-radius: 50%;
    background-color: blue;
    color: white;
}

.divider {
    border-bottom: 3px solid gray;
    padding-bottom: 20px;
}

.third {
    width: 650px;
    display: inline-block;
}

.fourth {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}

.tt {
    background-image: url(../img/5.png);
    background-repeat: no-repeat;
    width: 211px;
    height: 219px;
}

.tt p {
    width: 150px;
    padding: 30px;
}

.fifth li {
    list-style-image: url(../img/2.png);
    padding-bottom: 10px;
}

.first-table {
    display: inline-block;
}

.second-table {
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
}

.fifth {
    width: 650px;
    display: inline-block;
}

.six {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    font-size: 12px;
    text-align: center;
}
