@font-face {
    font-family: Pathway Gothic One;
    src: url(../fonts/PathwayGothicOne-Regular.ttf);
}


body {
    background-image: url(../img/page-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 28px;
}

.header {
    padding-top: 20px;
    margin-top: 75px;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.menu li {
    list-style-type: none;
    text-align: center;
    padding: 4px;
    color: #fff;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.openlist {
    position: relative;
}

.openlist:hover:before {
    content: "";
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    left: 23px;
    bottom: 0;
}


.openlist:hover .submenu {
    display: block;
    text-align: center;
}

a:hover {
    color: #000;
}

.header__nav-menu-submenu {
    position: absolute;
    top: 40px;
    left: 5px;
    padding-left: 0px;
    display: none;
    font-size: 10px;
    text-align: center;
    border: 4px solid #fff;
    background-color: #fff;
    border-radius: 5px;
}

.submenu a {
    text-decoration: none;
    color: #696969;
    font-size: 14px;
}

.submenu li {
    display: block;
    color: #000;
}

.header__nav-menu-submenu:hover {
    display: block;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 100px;
}

.header__nav-page-heading {
    font-size: 26px;
    color: #000;
}

.wrapper {
    background-color: #fff;
    max-width: 900px;
    width: 95%;
    height: auto;
    padding: 47px;
    margin: auto;
    margin-top: 80px;
    min-width: 400px;
}

.to-top {
    content: "^";
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
    color: #fff;
    border: 5px solid #0099ff;
    border-radius: 50%;
    font-size: 11px;
    background-color: #0099ff;
    padding-top: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 50px;
    bottom: 100px;
    text-decoration: none;
    opacity: .3;
}

.to-top:hover {
    opacity: 1;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    min-width: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery div {
    margin: 5px;
    position: relative;

}

.gallery div::after {
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
    transition: opacity .6s ease-out;
    background-color: #808080;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    line-height: 100px;
    display: block;
    z-index: 2;
    content: ""
}

.gallery div:hover::after {
    opacity: .6;
    
}

.picture {
    z-index: 1;
}

.gallery__img-wrapper:hover .zoom {
    display: block;
    z-index: 3;
    opacity: 1;
}

.gallery .zoom {
    position: absolute;
    display: none;
    top: 35%;
    left: 40%;
    width: 50px;
    height: 50px; 
}

.gallery img {
    width: 100%;
    display: block;
    background-size: 100%;
}

.gallery .picture:hover + .zoom {
    opacity: 1;
}

.block {
    max-width: 994px;
    min-width: 400px;
    background-color: #30454b;
    font-size: 16px;
    margin: auto;
}

.info {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.info li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    padding-left: 100px;
    margin: 5px;

}

.info a {
    text-decoration: none;
    color: #fff;
}


footer {
    min-width: 400px;
    max-width: 1000px;
    width: 95%;
    margin: auto;
}

footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer li > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social a:hover {
    opacity: .1;
    -webkit-transition: opacity 3s ease-out;
    -o-transition: opacity 3s ease-out;
    transition: opacity 3s ease-out;
}

.twit {
    background-image: url(../img/Sprite.svg);
    background-repeat: no-repeat;
    background-position: -40px -40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
}

.f {
    background-image: url(../img/Sprite.svg);
    background-repeat: no-repeat;
    background-position: -110px -40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
}

.g {
    background-image: url(../img/Sprite.svg);
    background-repeat: no-repeat;
    background-position: -180px -40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
}

.inst {
    background-image: url(../img/Sprite.svg);
    background-repeat: no-repeat;
    background-position: -250px -40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 10px;
}

.sub a,
p {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

@media (max-width: 1024px) {
    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .gallery div {
        width: 30%;
    }

    .info .faqs {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .info .people {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .info .useful {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .info .partners {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .info .insurance {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .info .family {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .info .contactus {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .info .tel {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
}

@media (max-width: 768px) {
    .gallery div {
        width: 40%;
    }

    .block {
        width: 100%;
        min-width: 700px;
        padding: 28px;
    }

    .block ul {
        padding: 5%;
        margin: 0;
    }

    .block li {
        padding: 0;
    }

    .info li {
        padding: 0;
        width: 23%;
    }

    .block li a {
        font-size: 1em;
        padding: 0%;
    }

    .info .faqs {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .info .people {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .info .useful {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .info .partners {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .info .isurance {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .info .family {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .info .contactus {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .info .tel {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .menu {
        width: 95%;
        max-width: 250px;
        margin: 5%;
    }

    .menu .circle {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin: 3% 26%;
    }

    .menu .home {
        padding-left: 8%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .menu .openlist {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .menu .gall {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .menu .tyr {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
        padding-left: 8%;
    }

    .menu .blogg {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .menu .conta {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .to-top {
        bottom: 5%;
        right: 5%;
    }
}

@media (max-width: 480px) {
    .gallery div,
    .gallery img {
        width: 100%;
    }

    .block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 95%;
        min-width: 400px;
        padding: 0 10%;
    }

    .info li {
        width: 30%;
    }

    .info .faqs {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .info .people {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .info .useful {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .info .partners {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .info .insurance {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .info .family {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .info .contactus {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
        width: 17%
    }

    .info .tel {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0;
        width: 70%;
    }

    .info li:nth-child(8) a:nth-child(1)::before {
        content: url(../img/telephone.png);
        margin: 10% 3%;
    }

    .info li:nth-child(8) a:nth-child(2)::before {
        content: url(../img/mail.png);
        margin: 10% 3%;
    }
    .to-top {
        bottom: 5%;
        right: 4%;
    }
    .menu {
        margin-left: 20%;
        margin-bottom: 5%;
    }

    .menu .circle {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin: 3% 26%;
    }

    .menu .home {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .menu .openlist {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .menu .gall {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .menu .tyr {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .menu .blogg {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .menu .conta {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
}
